<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="/css/change-password.css">
</head>
<body>

<div th:replace="layout/header :: header"></div>

<main>
    <form action="../member/change-password"
          method="post"
          th:object="${changePasswordRequest}">

        <!-- 전역 오류 -->
        <div class="global-error" th:if="${#fields.hasGlobalErrors()}">
            <p th:each="error:${#fields.globalErrors()}" th:text="${error}"></p>
        </div>

        <!-- 기존 비밀번호 -->
        <div class="form-group">
            <label>
                <span>기존 비밀번호</span>
            </label>
            <input type="password"
                   placeholder="기존 비밀번호를 입력해주세요"
                   name="currentPassword"
                   th:field="*{currentPassword}"/>
        </div>
        <div class="field-error"
             th:if="${#fields.hasErrors('currentPassword')}"
             th:errors="*{currentPassword}">
        </div>

        <!-- 새로운 비밀번호 -->
        <div class="form-group">
            <label>
                <span>새로운 비밀번호</span>
            </label>
            <input type="password"
                   placeholder="새로운 비밀번호를 입력해주세요"
                   name="newPassword"
                   th:field="*{newPassword}"/>
        </div>
        <div class="field-error"
             th:if="${#fields.hasErrors('newPassword')}"
             th:errors="*{newPassword}">
        </div>

        <!-- 새로운 비밀번호 확인 -->
        <div class="form-group">
            <label>
                <span>새로운 비밀번호 확인</span>
            </label>
            <input type="password"
                   placeholder="새로운 비밀번호 확인"
                   name="newPasswordConfirm"
                   th:field="*{newPasswordConfirm}"/>
        </div>
        <div class="field-error"
             th:if="${#fields.hasErrors('newPasswordConfirm')}"
             th:errors="*{newPasswordConfirm}">
        </div>

        <!-- 제출 버튼 -->
        <div class="submit-box">
            <button type="submit">비밀번호 변경</button>
        </div>

    </form>
</main>

<div th:replace="layout/footer :: footer"></div>

</body>
</html>
