<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호변경</title>
</head>
<body>

<form action="../member/change-password" method="post" th:object="${changePasswordRequest}">

    <h1>비밀번호 변경</h1>

    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="error:${#fields.globalErrors()}" th:text="${error}"></p>
    </div>

    <div>
        <label>
            <span>기존 비밀번호</span>
        </label>
        <input type="password" placeholder="기존 비밀번호를 입력해주세요" name="currentPassword" th:field="*{currentPassword}"/>
    </div>
    <div th:if="${#fields.hasErrors('currentPassword')}"
               th:errors="*{currentPassword}">
    </div>
    <div>
        <label>
            <span>새로운 비밀번호</span>
        </label>
        <input type="password" placeholder="새로운 비밀번호를 입력해주세요" name="newPassword" th:field="*{newPassword}"/>
    </div>
    <div th:if="${#fields.hasErrors('newPassword')}"
         th:errors="*{newPassword}">
    </div>
    <div>
        <label>
            <span>새로운 비밀번호 확인</span>
        </label>
        <input type="password" placeholder="새로운 비밀번호 확인" name="newPasswordConfirm" th:field="*{newPasswordConfirm}"/>
    </div>
    <div th:if="${#fields.hasErrors('newPasswordConfirm')}"
         th:errors="*{newPasswordConfirm}">
    </div>
    <div>
        <button>비밀번호 변경</button>
    </div>
</form>
</body>
</html>