<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="/css/find-password.css">
</head>
<body>

<header th:replace="~{layout/header :: header}"></header>
<main>
<form action="../member/find-password" method="post">

    <h1>이메일을 입력해주세요</h1>

    <div>
        <label>
            <span>USER EMAIL</span>
        </label>
        <input type="text" placeholder="이메일을 입력해주세요" name="userEmail"/>
    </div>

    <!-- 메일발송버튼 -->
    <div class="form-control mt-6">
        <button class="btn btn-primary w-full">메일 발송</button>
    </div>
</form>
</main>
<div th:replace="layout/footer :: footer"></div>
</body>
</html>