<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/css/header.css">

    <nav class="navbar">
        <!-- 좌측 로고 -->
        <a th:href="@{/}">
            <div class="nav-logo">
                <img src="/images/logo.png" alt="Logo">
            </div>
        </a>

        <!-- 우측 메뉴 -->
        <ul class="nav-links">

            <!-- 비로그인 -->
            <th:block th:if="${#authorization.expression('!isAuthenticated()')}">
                <li><a th:href="@{/member/signup}">회원가입</a></li>
                <li><a th:href="@{/member/login}">로그인</a></li>
            </th:block>

            <!-- 로그인 -->
            <th:block th:if="${#authorization.expression('isAuthenticated()')}">

                <!-- 관리자(role = ROLE_ADMIN) -->
                <th:block th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <li><a th:href="@{/admin/admin}">관리자</a></li>
                </th:block>

                <!-- 일반 유저 -->
                <th:block th:unless="${#authorization.expression('hasRole(''ADMIN'')')}">
                    <li><a th:href="@{/member/info}">내 정보</a></li>
                </th:block>

                <!-- 공통 로그아웃 버튼 -->
                <li>
                    <form th:action="@{/member/logout}" method="post" style="display:inline">
                        <button type="submit"
                                style="background:none;border:none;padding:0;cursor:pointer;color:inherit;font:inherit;">
                            로그아웃
                        </button>
                    </form>
                </li>
            </th:block>

            <!-- 항상 표시 -->
            <li><a th:href="@{/card/firstPage}">카드 조회</a></li>
        </ul>

    </nav>
</header>
</html>
