<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<header th:replace="~{layout/header :: header}"></header>
<h1> 홈 화면 </h1>

<h1>신규 카드</h1>

<div class="slider-container">
    <div class="slider">
        <img src="/images/2536card.png" alt="카드 1">
        <img src="/images/2553card.png" alt="카드 2">
        <img src="/images/2609card.png" alt="카드 3">
        <img src="/images/2646card.png" alt="카드 4">
        <img src="/images/2885card_1.png" alt="카드 5">
    </div>
    <button class="prev-btn">&#10094;</button>
    <button class="next-btn">&#10095;</button>
</div>

<script src="/script/index.js"></script>

<h1>인기 차트</h1>

<div class="chart-section">

    <div class="chart-box" data-chart="credit">
        <h3>신용카드 TOP100</h3>
        <ul class="chart-list">
            <!-- 나중에 DB/JS로 채움 -->
        </ul>
        <button class="chart-btn">차트 더보기</button>
    </div>

    <div class="chart-box" data-chart="mileage">
        <h3>마일리지형 TOP30</h3>
        <ul class="chart-list">
        </ul>
        <button class="chart-btn">차트 더보기</button>
    </div>

    <div class="chart-box" data-chart="point">
        <h3>포인트형 TOP30</h3>
        <ul class="chart-list">
        </ul>
        <button class="chart-btn">차트 더보기</button>
    </div>

    <div class="chart-box" data-chart="check">
        <h3>체크카드 TOP100</h3>
        <ul class="chart-list">
        </ul>
        <button class="chart-btn">차트 더보기</button>
    </div>

</div>

<script src="/script/chartHover.js"></script>

<div th:replace="layout/footer :: footer"></div>
</body>
</html>