<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카드 정보</title>
    <link rel="stylesheet" href="/css/cardInfo.css">

</head>
<body>
<!-- Header -->
<header th:replace="~{layout/header :: header}"></header>
<form th:action="@{/card/{id}/info(id=${cardInfoDto.id})}" method="post" enctype="multipart/form-data">
    <!--    카드 이름-->
    <div style="font-size: 20px"> -- 카드 기본 정보 --</div>
    <div th:object="${cardInfoDto}">
<!--        <input type="hidden" th:field="*{id}" />-->
        <div><span>카드 이름 : </span><input type="text" th:field="*{name}"></div>
        <div th:if="${#fields.hasErrors('name')}"
             th:errors="*{name}"
             style="color:red">
        </div>
        <div>
            <label for="cate">카드 타입 :</label>
            <select name="cate" id="cate" th:field="*{cate}">
                <th:block th:each="cate : ${cateEnum}">
                    <option th:value="${cate.initial}" th:text="${cate.initial}"></option>
                </th:block>
            </select>
        </div>
        <div><span>카드 연회비 : </span><input type="text" th:field="*{annual}"></div>
        <div th:if="${#fields.hasErrors('annual')}"
             th:errors="*{annual}"
             style="color:red">
        </div>
        <div><span>카드 전원 실적 : </span><input type="text" th:field="*{pre}"></div>
        <div th:if="${#fields.hasErrors('pre')}"
             th:errors="*{pre}"
             style="color:red">
        </div>
        <div>
            <label for="corp">카드 회사 :</label>
            <select name="corp" id="corp" th:field="*{corp}">
                <th:block th:each="corp : ${corpEnum}">
                    <option th:value="${corp.name}" th:text="${corp.name}"></option>
                </th:block>
            </select>
        </div>
        <div>
            <span>PROFILE</span>
            <input type="file" th:field="*{cardImage}" onchange="previewImage(event)">
        </div>
        <!-- 이미지 미리보기 영역 -->
        <div id="imagePreview" style="margin-top:10px;">
            <img id="preview" src="#" alt="이미지 미리보기" style="max-width:300px; display:none;">
        </div>
        <div><span>단종 여부 : </span><input type="checkbox" th:field="*{discontinue}"></div>
        <div><span>공유 여부 : </span><input type="checkbox" th:field="*{sharestate}"></div>
    </div>

    <div style="font-size: 20px"> -- 카드 결제 브랜드 정보 --</div>
    <div th:object="${cardBrandDto}">
<!--        <input type="hidden" th:field="*{id}" />-->
        <div><span>visa 여부 : </span><input type=checkbox th:field="*{visa}"></div>
        <div><span>master 여부 : </span><input type="checkbox" th:field="*{master}"></div>
        <div><span>bc 여부 : </span><input type="checkbox" th:field="*{bc}"></div>
        <div><span>amex 여부 : </span><input type="checkbox" th:field="*{amex}"></div>
    </div>

    <div style="font-size: 20px"> -- 카드 혜택 정보 --</div>
    <div th:object="${cardBenefitDto}">
<!--        <input type="hidden" th:field="*{id}" />-->
        <div><span>주유 여부 : </span><input type=checkbox th:field="*{fuel}"></div>
        <div><span>통신 여부 : </span><input type="checkbox" th:field="*{comm}"></div>
        <div><span>쇼핑 여부 : </span><input type="checkbox" th:field="*{shop}"></div>
        <div><span>식당 여부 : </span><input type="checkbox" th:field="*{food}"></div>
        <div><span>카페 여부 : </span><input type="checkbox" th:field="*{cafe}"></div>
    </div>

    <div><button>카드 정보 수정 및 등록</button></div>
</form>

<form th:action="@{../../card/{id}/delete(id=${cardInfoDto.id})}" method="post">
    <div><button>카드 정보 삭제</button></div>
</form>
<!-- Footer -->
<footer th:replace="~{layout/footer :: footer}"></footer>
<div id="toast" class="toast toast-end"
     th:if="${failMessage}"
     style="display:none;">
    <div class="alert alert-danger">
        <span th:text="${failMessage}"></span>
    </div>
</div>
</body>

<script>
    function previewImage(event) {
        const fileInput = event.target;
        const file = fileInput.files[0];

        // 이미지 미리보기
        const preview = document.getElementById('preview');
        if (file && file.type.startsWith('image/')) {
            preview.src = URL.createObjectURL(file);
            preview.style.display = 'block';
        } else {
            preview.src = '#';
            preview.style.display = 'none';
        }
    }
</script>

</html>