<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카드 목록</title>
    <link rel="stylesheet" href="/css/list.css">

</head>
<body>
<h2>카드 목록</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>카드명</th>
        <th>카테고리</th>
        <th>연회비</th>
        <th>실적</th>
        <th>카드사</th>
        <th>카드단종상태</th>
        <th>카드공유상태</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="card : ${cardDtoList}" style="cursor:pointer;">
        <td th:text="${card.id}"></td>
        <td>
            <a th:href="@{'/card/' + ${card.id} + '/info'}" th:text="${card.name}"></a>
        </td>
        <td th:text="${card.cate}"></td>
        <td th:text="${card.annual}"></td>
        <td th:text="${card.pre}"></td>
        <td th:text="${card.corp}"></td>
        <td th:text="${card.discontinue}"></td>
        <td th:text="${card.sharestate}"></td>
    </tr>
    </tbody>
</table>

<!--<form id="BenefitBrandForm" action="../card/list" method="post">-->

<!--    <div>-->
<!--        정보 분류 :-->
<!--&lt;!&ndash;        <span> 카드 혜택 </span>&ndash;&gt;-->
<!--&lt;!&ndash;        <select name="cate" id="cate" th:field="*{cate}">&ndash;&gt;-->
<!--&lt;!&ndash;            <th:block th:each="cate : ${cateEnum}">&ndash;&gt;-->
<!--&lt;!&ndash;                <option th:value="${cate}" th:text="${cate.initial}"></option>&ndash;&gt;-->
<!--&lt;!&ndash;            </th:block>&ndash;&gt;-->
<!--&lt;!&ndash;        </select>&ndash;&gt;-->

<!--        <label for="brand">카드 결제 브랜드 체크 :</label>-->
<!--        <select multiple name="brand" id="brand">-->
<!--            <th:block th:each="brand : ${brandEnum}">-->
<!--                <option th:value="${brand}" th:text="${brand.name}"></option>-->
<!--            </th:block>-->
<!--        </select>-->
<!--        <button> 결제 브랜드 분류 </button>-->
<!--    </div>-->

<!--</form>-->



    <button type="submit">제출</button>
</form>


</body>
</html>