<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카드 목록</title>
</head>
<body>
<h2>카드 목록</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>카드명</th>
        <th>카테고리</th>
        <th>연회비</th>
        <th>실적</th>
        <th>카드사</th>
        <th>카드단종상태</th>
        <th>카드공유상태</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="card : ${cardDtoList}" style="cursor:pointer;">
        <td th:text="${card.id}"></td>
        <td th:text="${card.name}"></td>
        <td th:text="${card.cate}"></td>
        <td th:text="${card.annual}"></td>
        <td th:text="${card.pre}"></td>
        <td th:text="${card.corp}"></td>
        <td th:text="${card.discontinue}"></td>
        <td th:text="${card.sharestate}"></td>
    </tr>
    </tbody>
</table>

    <form id="corpForm" method="POST" action="../card/firstPage">
        <span> 카드사 </span>
        <select id="corp" name="corp" multiple size="1">
            <th:block th:each="corp : ${corpEnum}">
                <option th:value="${corp.name}" th:text="${corp.name}"></option>
            </th:block>
            <option value="Kookmin">국민</option>
            <option value="Shinhan">신한</option>
            <option value="Woori">우리</option>
            <option value="Nonghyub">농협</option>
        </select>

        <form id="brandForm" method="POST" action="../card/firstPage">
            <span> 브랜드 </span>
            <select id="brand" name="brand" multiple size="1">
                <th:block th:each="brand : ${brandDto}">
                    <option th:value="${brand.name}" th:text="${brand.name}"></option>
                </th:block>
                <option value="visa">VISA</option>
                <option value="master">MASTER</option>
                <option value="bc">BC</option>
                <option value="amex">AMEX</option>
            </select>



<form action="../card/firstPage">
    <button type="submit"> 첫번째 페이지로 돌아가기 </button>
</form>

<!--<form id="benefitForm" method="POST" action="../card/list">-->
<!--    <span> 결제 브랜드 </span>-->
<!--    <select id="benefits" name="benefits" multiple size="1">-->
<!--        <th:block th:each="brand : ${brandEnum}">-->
<!--            <option th:value="${brand.name}" th:text="${brand.name}"></option>-->
<!--        </th:block>-->
<!--    </select>-->

<!--    <button type="submit">제출</button>-->
<!--</form>-->


</body>
</html>