<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 카드 목록</title>
    <link rel="stylesheet" href="/css/list.css">

</head>
<body>
<!-- Header -->
<header th:replace="~{layout/header :: header}"></header>
<h2>관리자 카드 목록</h2>

<form th:action="@{/admin/list}" method="get">
    <!-- 검색 타입 -->
    <div class="form-control ">
        <select class="" name="type">
            <option th:value="name" th:selected="${responsePageDto.type=='name'}">카드명</option>
            <option th:value="cate" th:selected="${responsePageDto.type=='cate'}">카테고리</option>
            <option th:value="corp" th:selected="${responsePageDto.type=='corp'}">카드사</option>
            <option th:value="all" th:selected="${responsePageDto.type=='all'}">전체</option>
        </select>
    </div>
    <!-- 검색어 입력 -->
    <div class="form-control min-w-[250px]">
        <input type="text"
               name="keyword"
               th:value="${param.keyword}"
               placeholder="검색어를 입력하세요"
               class="input input-bordered input-primary w-full"/>
    </div>

    <!-- 검색 버튼 -->
    <div class="form-control">
        <button class="btn btn-primary w-28"> 검색</button>
    </div>
</form>

<div class="join-wrapper" style="display: flex; justify-content: center; margin-top: 20px;">
    <div class="join" style="display: flex; gap: 8px; flex-wrap: wrap;">
        <a href="" class="join-item btn"
           th:href="@{../admin/list(
                    page=${responsePageDto.page - 1},
                    size=${responsePageDto.size},
                    keyword=${responsePageDto.keyword},
                    type=${responsePageDto.type}
                    )}"
           th:classappend="${!responsePageDto.hasPrev} ? 'btn-disabled'"
        >이전</a>

        <th:block
                th:each="item:${#numbers.sequence(responsePageDto.getStartPage(5),responsePageDto.getEndPage(5))}">
            <!--1~5-->
            <a href="" class="join-item btn"
               th:text="${item}"
               th:classappend="${item == responsePageDto.page} ? 'btn-primary'"
               th:href="@{../admin/list(
                       page=${item},
                       size=${responsePageDto.size},
                       keyword=${responsePageDto.keyword},
                       type=${responsePageDto.type}
                       )}">1</a>
        </th:block>

        <a href="" class="join-item btn"
           th:href="@{../admin/list(
                        page=${responsePageDto.page + 1},
                        size=${responsePageDto.size},
                        keyword=${responsePageDto.keyword},
                        type=${responsePageDto.type}
                        )}"
           th:classappend="${!responsePageDto.hasNext} ? 'btn-disabled'"
        >다음</a>
    </div>
</div>

<th:block th:if="${cardDtoList.isEmpty()}">
    <div>결과가 없습니다.</div>
</th:block>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>이미지</th>
        <th>카드명</th>
        <th>카테고리</th>
        <th>연회비</th>
        <th>실적</th>
        <th>카드사</th>
        <th>카드단종상태</th>
        <th>카드공유상태</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="card : ${cardDtoList}" style="cursor:pointer;">
        <td th:text="${card.id}"></td>
        <td>
            <a th:href="@{'/card/' + ${card.id} + '/info'}">
                <img class="list-image" th:src="${card.cardImagePath}" onerror="this.src='/images/default.png';" alt="카드 이미지">
            </a>
        </td>
        <td>
            <a th:href="@{'/card/' + ${card.id} + '/info'}" th:text="${card.name}"></a>
        </td>
        <td th:text="${card.cate}"></td>
        <td th:text="${card.annual}"></td>
        <td th:text="${card.pre}"></td>
        <td th:text="${card.corp}"></td>
        <td th:text="${card.discontinue}"></td>
        <td th:text="${card.sharestate}"></td>
    </tr>
    </tbody>
</table>
<!-- Footer -->
<footer th:replace="~{layout/footer :: footer}"></footer>
</body>
</html>